-- @todo: replace db name
USE "qlik_medical";

-- Table: 
IF NOT EXISTS (SELECT * FROM sysobjects WHERE name='F_PRESCRIBING__temp' AND xtype='U')
  CREATE TABLE "F_PRESCRIBING__temp"
  (
    "ID_AMP_NM" INT,
    "ID_VMP_NM" INT,
    "ID_VTM_NM" INT,
    "ID_INTERVAL_COST" INT,
    "ID_BNF" INT,
    "ID_PRACTICE" INT,
    "ID_TIME" INT,
    "TOTAL_ITEMS" INT,
    "TOTAL_QUANTITY" INT,
    "GROSS_COST" varchar(50),
    "ACTUAL_COST" varchar(50),
    CONSTRAINT "F_PRESCRIBING_FK1__temp" FOREIGN KEY ("ID_AMP_NM") REFERENCES [dbo].[D_AMP_NM]("ID_AMP_NM") ,
    CONSTRAINT "F_PRESCRIBING_FK2__temp" FOREIGN KEY ("ID_BNF") REFERENCES [dbo].[D_BNF]("ID_BNF") ,
    CONSTRAINT "F_PRESCRIBING_FK3__temp" FOREIGN KEY	("ID_INTERVAL_COST") REFERENCES [dbo].[D_COST]("ID_INTERVAL_COST") ,
    CONSTRAINT "F_PRESCRIBING_FK4__temp" FOREIGN KEY ("ID_PRACTICE") REFERENCES [dbo].[D_PRACTICE]("ID_PRACTICE_ORG") ,
    CONSTRAINT "F_PRESCRIBING_FK5__temp" FOREIGN KEY ("ID_TIME")	REFERENCES [dbo].[D_TIME]("ID_TIME") ,
    CONSTRAINT "F_PRESCRIBING_FK6__temp" FOREIGN KEY ("ID_VMP_NM") REFERENCES [dbo].[D_VMP_NM]("ID_VMP_NM") ,
    CONSTRAINT "F_PRESCRIBING_FK7__temp" FOREIGN KEY ("ID_VTM_NM") REFERENCES [dbo].[D_VTM_NM]("ID_VTM_NM") 
  )
GO