-- @todo: replace the db name
USE "qlik_medical";

ALTER TABLE [dbo].[F_PRESCRIBING] DROP CONSTRAINT F_PRESCRIBING_FK3;
ALTER TABLE [dbo].[D_COST] DROP CONSTRAINT D_COST_PK;

TRUNCATE TABLE [D_COST];

ALTER TABLE [dbo].[D_COST]
	ADD CONSTRAINT D_COST_PK
		PRIMARY KEY ("ID_INTERVAL_COST");

ALTER TABLE [dbo].[F_PRESCRIBING]
	ADD CONSTRAINT F_PRESCRIBING_FK3
		FOREIGN KEY	("ID_INTERVAL_COST") 
		REFERENCES [dbo].[D_COST]("ID_INTERVAL_COST");